* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  /* background-image: url("https://schools.stlucie.k12.fl.us/swc/files/2014/12/snow.gif");
  background-color: rgb(11, 145, 186); */
}

header {
  padding: 20px;
  border: 2px solid black;
}

.places {
  margin-top: 30px;
  padding: 20px;
  border: 2px dashed gray;
  display: flex;
  gap: 200px;
}

.place {
  padding: 20px;
  border: 2px solid black;
  transform: rotate(-3deg);
}
